{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
{% include "dashboard/include.html" %}
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        {% include "dashboard/navbar.html" %}
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                {% include "dashboard/navbartop.html" %}
            </div>
            <div class="row J_mainContent" id="content-main">
                <div class="gray-bg">
                    <div class="row wrapper border-bottom white-bg page-heading  fadeInUp">
                        <div class="col-sm-4">
                            <h2>组</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">仪表盘</a>
                                </li>
                                <li>
                                    <strong>组</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-sm-8">
                            <div class="title-action">
                                <a href={% url 'add_groups'%} class="btn btn-info"><i class="fa fa-plus "></i> 添加组</a>
                            </div>
                        </div>
                   </div>
                   <div class="wrapper wrapper-content animated fadeInUp">
                       <div class="ibox">
                        <div class="ibox-content">
                            <div class="row row-lg">
                                {% if state == 'success' %}
                                    <div class="col-sm-12 well">
                                        <h2 class="text-success text-center">删除成功</h2>
                                    </div>                                  
                                {% endif %}                                
                                <div class="col-sm-12">
                                    <table class="table table-hover" id="exampleTablePagination" data-toggle="table" data-url= "{% url 'get_groups' %}"
                                    data-method="get" data-pagination="true"
                                    data-side-pagination="server"
                                    data-page-list="[10, 20, 50, 100, 200]"
                                    data-mobile-responsive="true" searchOnEnterKey="true"
                                    data-show-refresh="true" data-page-size=20
                                    data-pagination="true" data-icon-size="outline" data-search="true" data-striped="true">
                                            <thead>
                                                <tr>
                                                    <th data-field="asset_group_name" data-sortable="true">组名</th>
                                                    <th data-field="asset_user_count" data-sortable="true">用户数</th>
                                                    <th data-field="asset_status" >状态</th>
                                                    <th data-field="asset_description">描述</th>
                                                </tr>
                                            </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    {% include "dashboard/script.html" %}

    <!-- 自定义js -->
    <script src={% static "js/hAdmin.js" %}></script>

    <!-- 第三方插件 -->
    <script src={% static "js/plugins/pace/pace.min.js" %}></script>

</body>

</html>
