{% load i18n %}
{% load staticfiles %}

    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>

    <script src={% static "js/plugins/metisMenu/jquery.metisMenu.js" %}></script>
    <script src={% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}></script>
    <script src={% static "js/plugins/layer/layer.min.js" %}></script>

    <!-- 自定义js -->
    <script src={% static "js/content.js" %}></script>


     <!-- Bootstrap table -->
    <script src={% static "js/plugins/bootstrap-table/bootstrap-table.min.js" %} ></script>
    <script src={% static "js/plugins/bootstrap-table/bootstrap-table-mobile.min.js" %}></script>
    <script src={% static "js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" %}></script>
    <script src={% static "js/plugins/sweetalert/sweetalert.min.js" %}></script>

     <!-- Peity -->
    <script src={% static "js/demo/bootstrap-table-demo.js" %}></script>