{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
{% include "dashboard/include.html" %}
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        {% include "dashboard/navbar.html" %}
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                {% include "dashboard/navbartop.html" %}
            </div>
            <div class="row J_mainContent" id="content-main">
                <div class="gray-bg">
                    <div class="row wrapper border-bottom white-bg page-heading  fadeInUp">
                        <div class="col-sm-4">
                            <h2>{{app.name}}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">仪表盘</a>
                                </li>
                                <li>
                                    <a href= {% url 'applications' %}>应用</a>
                                </li>
                                <li>
                                    <strong>{{app.name}}</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-sm-8">
                            <div class="title-action">
                                <form class="application application-box websdk" id="remove_app_form" method="post" action="/dashboard/applications/delete/">
                                    {% csrf_token %}
                                    <input type="hidden" name="iKey" id="iKey" value="{{app.iKey}}">                                               
                                    <td class="project-actions">
                                        <button type="button" id="remove_app" class="btn btn-danger"><i class="fa fa-close "></i> 删除应用</button>
                                    </td>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <div class="row row-lg detail_title">                    
                            <div class="col-sm-4">
                                <h3>Details</h3>
                            </div>
                            <div class="col-sm-8">
                                <div class="pull-right">
                                    <a class="btn btn-outline btn-warning"><i class="fa fa-refresh "></i> 重置Secret key</a>
                                </div>
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Integration key</label>
                                                <div class="col-sm-5 key key key_holder">
                                                    <input type="text" readonly="readonly" class="form-control key click_to_select_all" value="{{app.iKey}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Secret key</label>
                                                <div class="col-sm-5 key key_holder">
                                                    <input id="secret_key_input" data-ikey="{{app.iKey}}" class="form-control key click_to_select_all" value="{{app.sKey}}" type="text" readonly="">
                                                    <span class="help-block m-b-none">保护好你的Secret key</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">API hostname</label>
                                                <div class="col-sm-5 key key_holder">
                                                    <input type="text" readonly="readonly" class="form-control key click_to_select_all" value="{{user.api_hostname}}">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    {% include "dashboard/script.html" %}

    <!-- 自定义js -->
    <script src={% static "js/hAdmin.js" %}></script>

    <!-- 第三方插件 -->
    <script src={% static "js/plugins/pace/pace.min.js" %}></script>
    <script>
        $(document).ready(function () {
            $('#remove_app').click(function () {
                swal({
                    title: "您确定要删除这个应用吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    closeOnConfirm: false
                }, function () {
                    var iKey = $("#iKey").val();
                    $("#remove_app_form").submit();
                    swal("删除成功！", "您已经永久删除了这条信息。", "success");
                });
            });
        });
    </script>

</body>

</html>
